#canva {
  width: fit-content;
  display: block;
  margin: auto;
}

html,body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-weight: 700;
  text-align: center;
  color:white;
  font-size: 5em;
  margin:auto;
  padding-top:1.5em;
  font-weight: 600;
}

h2{
  font-weight: 500;
  text-align: center;
}

h3{
  font-weight: 300;
  text-align: center;
}

header{
  height:25em;
  background-image: url("https://images.unsplash.com/photo-1588600878108-578307a3cc9d?q=80&w=2952&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
  filter: brightness(50%);
}

.pages{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.realisations{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

a{
  padding:1em;
  background-color: #242424;
  color:white;
  border-radius:1em;
  margin:2em;
  width:10em;
  text-align: center;
  text-decoration: none;
}

a:hover{
  background-color: #656565;
}

.other-pages{
  margin:2em;
}

.other-pages a{
  margin:0.5em;
}